<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
      <title>Spring Boot Application</title>
   </head>
   <body>
      <h4>Dashboard</h4>
      <button> <a th:href="@{/goToUserForm}">Create a user</a></button>
      <h4>Choose a user as login user</h4>
      <form role="form" th:action=@{/goToUserProductForm} method="post">
	      <select name="selectedUser">
	      	<option th:each="user : ${users}" th:value="${user.user_id}" th:text="${user.name}"></option>
	      </select>
	      <input type="submit">
      </form>
      
   </body>
</html>