<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
      <title>Spring Boot Application</title>
   </head>
   <body>
      <h4>User's product</h4>
      <tr th:object="${session.selectedUser}">
      	<td>User id: <span th:text="${session.selectedUser.user_id}"></span></td>
      	<td>, User name: <span th:text="${session.selectedUser.name}"></span></td>
      	<td>, User email: <span th:text="${session.selectedUser.email}"></span></td>
      </tr>
      <br/>
      <br/>
      <button> <a th:href="@{/goToProductForm}">Add a new product</a></button>
      <br/>
      <br/>
      <div>Existing products : </div>
      <form role="form" th:action=@{/chooseProduct} method="post">
      	<select name="selectedProduct">
	      	<option th:each="product : ${session.products}" th:value="${product.product_id}" th:text="${product.name}"></option>
	    </select>
      	<input type="submit" value="check product">
      </form>
      <div th:if="${selectedProduct != null}">
      	<ul th:object="${selectedProduct}">
      		<li>Product id : <span th:text="${selectedProduct.product_id}"></span></li>
      		<li>Product name : <span th:text="${selectedProduct.name}"></span></li>
      		<li>Product price : <span th:text="${selectedProduct.price}"></span></li>
      		<li>Product expiration date : <span th:text="${selectedProduct.expiration_date}"></span></li>
      	</ul>
      </div>
   </body>
</html>